<aside class="main-sidebar">
    <section class="sidebar">

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-shopping-basket"></i> <span>Products</span></a>
            </li>
            <li>
                <a href="/#/categoriesList"><i class="fa fa-list"></i> <span>Categories</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>